html{
  overflow-x: hidden;
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    color: rgb(0, 100, 0);
}
p, a, b{
  font-size: 20px;
  text-decoration: none;
  color: white;
}

 p, a{
    font-weight: normal;
  }
  /* ************************************* */

/* animated section */
.animated-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Final state (visible) */
.animated-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
.over-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url(https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); */
  background-image: url(./CONTIMG/contpage.jpg);
  background-size: contain;
  /* background-repeat: no-repeat; */
  background-position: center;
  position: relative;
}

.over-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color:  rgb(0, 100, 0, 0.7);
}

.sect-cova {
  position: relative;
  z-index: 3;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.row  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 50px;
  width: 50px;
  background-color: rgb(0, 100, 0);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 20px;
  color: white;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color:  white;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: #FFF;
  font-size: 1em;
}

.contact-form {
  background-color: transparent;
  padding: 40px;
  width: 45%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: white;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  resize: none;
  background-color: transparent;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: white;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
  color: rgb(0, 100, 0);
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]
{
  width: 100%;
  background:  rgb(0, 100, 0);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid  rgb(0, 100, 0);
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover
{
  background: #FFF;
  color:  rgb(0, 100, 0);
}
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&/& */
    /* the accordions styling  */
    .contact-section{
      display: flex;
      width: 100%;
      height: auto;      
      justify-content: center;
      background-color: rgb(0, 100, 0, 0.3);
    }

    .cover-it {
      /* max-width: 800px; */
      width: 60%;
      padding: 3rem;
    }

    .accordion{
        border: none;
    }

    .contact-section h2 {
      color: rgb(0, 100, 0); 
      padding-bottom: 5px;
    }
    .accordion-header {
      font-family: 'Merriweather', serif ;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      cursor: pointer;
      font-size: 1.5rem;
      font-weight: bold;
      color: rgb(0, 100, 0);
      transition: background 0.3s ease;
      background-color: rgb(0, 100, 0, 0.5);
    }

    .accordion-header:hover {
      background-color: rgb(0, 100, 0, 0.7);
      color: white;
    }

    .accordion-icon {
      color: rgb(0, 100, 0);
      transition: transform 0.3s ease;
    }
     .accordion-icon:hover {
      color: white;
    }
    
    .accordion-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease, padding 0.3s ease;
      padding: 0 15px;
      font-size: 15px;
      line-height: 1.5;
      background-color: rgb(0, 100, 0, 0.3);
    }

    .accordion-content p{
      color: rgb(0, 100, 0);
    }

    .accordion-item.active .accordion-content {
      padding: 15px;
      max-height: 300px; /* adjust if your content is taller */
    }

    .accordion-item.active .accordion-icon {
      transform: rotate(180deg);
    }





/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
@media (max-width: 991px) {
  .sect-cova {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .row {
    flex-direction: column;
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  
  .contact-form {
    width: 100%;
  }
}
/* ************************************* */

/* CTA Footer */
.cta-footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4rem 2rem;
    gap: 20px;
    background-color:rgb(0, 100, 0);
    color: white;
}

.cta-footer h3 {
    color: var(--background-white);
    margin-bottom: 1.5rem;
}

.cta-footer .cta-button {
    background-color: white;
    color: rgb(0, 100, 0);
}
.cta-button {
    display: inline-block;
    background:  rgb(0, 100, 0);
    color: white;
    letter-spacing: 2px;
    padding: 1.2rem 5rem;
    border-radius: 3px;
    transition: transform 0.4s ease, background-color 0.4s ease;
}

.cta-button:hover {
    background-color: rgb(0, 100, 0);
    transform: translateY(-5px);
    border: none;
}
.hori{
  display: none;
  visibility: hidden;
}
.contact-address{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  width: 100%;
  height: 45vh;
  padding: 0;
  /* background-color: red; */
}

.quick-link {
  display: flex;
  flex-direction: column;
  text-align: left;    
  max-width: 200px;
  color: white; 
  gap: 5px; 
  /* background-color: blue;     */
}
.quick-link a{
  text-decoration: none;
  color: white;
}

.address {
  align-items: center;
  text-align: left;    
  max-width: 300px;
  color: white; 
  /* background-color: blue;      */
}
.address p{
  color: white;
}
.quick-link h4, .address h4, .map h4{
  color: white;
}

 .map {
   max-width: 300px; 
}
.more-text p{
  color: white;
}



/* ****************************************************** */
/* Responsive Design */
@media (max-width: 768px) {
  .logo{  
    display: none;
    visibility: hidden;
   }
   .brief-intro{
    width: 100%;
    padding: 1rem;
  }
  /* ******************************* */

  /* accordion for other contaCT info */
      .cover-it {
      /* max-width: 800px; */
      width: 100%;
      padding: 2rem;
    }

     .contact-section h2 {
      font-size: 1.2rem; 
      /* padding-bottom: 5px; */
    }
    /* &&&&&&&&&&&&&&&&&&&&& */
    .contact-address{
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: auto;
    }
    .verti{
      display: none;
      visibility: hidden;
    }
    .hori{
      display: flex;
      visibility: visible;
    }

   
}