
html{
  overflow-x: hidden;
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    color: rgb(0, 100, 0);
}
p, a, b{
  font-size: 20px;
  text-decoration: none;
}

 p, a{
    font-weight: normal;
  }


/* ***************************************** */
  #landing-top{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 70vh;
    background-image: url();
    background-size: cover;
    background-position: center;
  }

.child-cover{
    position: absolute;
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
    color: white;
    bottom: 0;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 100;
    
}

.title{
    display: flex;
    justify-content: center;
    color: white;
    z-index: 10000;
}
.child-cover{
  padding: 0 6rem;
}
.child-cover b{
  color: white;
  font-size: 20px;
  font-weight: lighter;
  padding: 0 3rem;
}
.child-cover p{
  color: white;
  font-size: 20px;
  font-weight: lighter;
  padding: 0 5rem;
}
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

/* Responsive Design */
@media (max-width: 768px) {
 .child-cover{
   padding: 0 1rem;
  }
  .title{
    margin-top: 13vh;
  }
  .child-cover b{
  padding: 0 .5rem;
}
.child-cover p{
  padding: 0 .5rem;
}
}